.container {
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  width: 100%;
}

.weather-app {
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 15px;
}

.clear {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.rain {
  background-image: linear-gradient(-20deg, #dcb0ed 0%, #99c99c 100%);
}

.clouds {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.snow {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}
